/* @media screen and (max-width: 1024px) {
  h1 {
    font-size: 40px;
  }

  p {
    font-size: 16px;
  }

  .slider-button {
    gap: 20px;
  }

  .iteam-img {
    width: 180px;
    height: 220px;
  }
}

@media screen and (max-width: 768px) {
  .menu-bar {
    flex-direction: column;
    text-align: center;
  }

  .main-slider-box {
    height: auto;
  }

  .slider-content {
    top: 100px;
  }

  h1 {
    font-size: 30px;
  }

  .iteam-allbox {
    bottom: 10px;
    gap: 10px;
  }

  .iteam-img {
    width: 140px;
    height: 180px;
  }

  .slider-button .btn button {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 24px;
  }

  p {
    font-size: 14px;
  }

  .btn-show {
    padding: 10px;
  }

  .iteam-img {
    width: 100px;
    height: 120px;
  }
} */
