@media (max-width: 768px) {
  .bottom-slider {
    bottom: 10px;
    transform: translateX(0);
    padding: 5px;
  }

  .iteam-img {
    height: 200px;
  }

  .slider-button .btn button {
    border: 1px solid rgba(0, 0, 0, 0.274);
    color: black;
  }

  .slider-button {
    bottom: 0;
    inset: 0;
    height: fit-content;
    margin: auto auto 40% auto;
    justify-content: center;
  }
}

@media (max-width: 640px) {
  h1 {
    font-size: 30px;
  }
  p {
    font-size: 14px;
  }
  .slider-button {
    bottom: 0;
    inset: 0;
    height: fit-content;
    margin: auto auto 80% auto;
    justify-content: center;
  }
}
